<template name="templateFileBrowser">
	<div class="leftTree">
		<h2>Template File Browser</h2>
		<div id="TemplateFileBrowser"></div>
	</div>


	<div id="templateContextMenu" class="dropdown clearfix">
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
	  </ul>
	</div>


</template>

