<template name="nodeProperties">
	
  <br />

 {{#quickForm schema=editPropertiesSchema id="editProperties" collection="EnvironmentNodes" doc=environment_node type="update" }}
  <fieldset>
    <legend>Contact Us</legend>
<!--     {{> afQuickField name="name"}}
    {{> afQuickField name="email"}}
    {{> afQuickField name="message" rows=10}}
 -->    <div>
      <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
      <!-- <button type="reset" class="btn btn-default">Reset</button> -->
    </div>
  </fieldset>
  {{/quickForm}}

</template>